:root {
    --color-tan: #e6e2d3;
    --color-traffic-white: #f0f0f0;
    --color-yellow-green: #4caf50;
    --color-vermilion-red: #c94c4c;
    --color-blue: #008cba;
  }

  table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--color-traffic-white);
}

.btn {
    padding: 5px 10px;
    margin: 5px;
}
.btn-primary {
    background-color: var(--color-blue);
    color: white;
}
.btn-secondary {
    background-color: var(--color-vermilion-red);
    color: white;
}

.hidden {
    display: none;
}
